<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。 -->
<!-- monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。 -->

<configuration status="error" monitorInterval="30">
	<!--先定义所有的appender -->
	<appenders>
		<!--这个输出控制台的配置 -->
		<Console name="console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!--这个都知道是输出日志的格式 -->
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}.%M:%line - %msg%n" />
		</Console>
		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<!-- 调试和跟踪日志 -->
		<RollingFile name="debug" fileName="logs/debug/debug.log" filePattern="logs/debug/$${date:yyyy-MM-dd}/debug-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread] %logger{36}.%M:%line - %msg%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
			 <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>  
              </Filters>
		</RollingFile>
		<!-- 警告和错误日志-->
		<RollingFile name="catalina" fileName="logs/catalina/catalina.log" filePattern="logs/catalina/$${date:yyyy-MM-dd}/catalina-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread] %logger{36}.%M:%line - %msg%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
			<Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
		</RollingFile>
	</appenders>

	<!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>
		<!--建立一个默认的root的logger -->
		<root level="info">
			<appender-ref ref="debug" />
			<appender-ref ref="catalina" />
			<appender-ref ref="console"/>
		</root>
	</loggers>
</configuration>